[Unit]
Description=Home Assistant

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
Volume=/var/lib/home-assistant:/config:Z
AutoUpdate=registry
Environment=WATCHDOG_USEC=5000000
Timezone=local

# Ensure discovery works fine
AddCapability=CAP_NET_RAW
Network=host

# note: this is using https://github.com/brianegge/home-assistant-sdnotify.
# to use it, uncomment this line and `WatchdogSec` line
#Notify=true

# uncomment and adapt path if you have a Zigbee USB dongle on your system
# AddDevice=/dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20230505180832-if00:/dev/zigbee:rw

# uncomment to get bluetooth support
Volume=/run/dbus:/run/dbus:ro

[Service]
Restart=on-failure
RestartSec=30
TimeoutStopSec=70

# needed for sdnotify, see above
#WatchdogSec=60

# uncomment to get bluetooth support, ensure BT radio is on
# ExecStartPre=-/usr/bin/bluetoothctl power on

[Install]
WantedBy=multi-user.target default.target
