[Unit]
Description=mosquitto
After=network-online.target

[Container]
Image=docker.io/eclipse-mosquitto

Volume=/var/lib/mosquitto/config:/mosquitto/config:Z
Volume=/var/lib/mosquitto/data:/mosquitto/data:Z
AutoUpdate=registry
Timezone=local
Network=host

[Service]
Restart=on-failure
RestartSec=30
TimeoutStopSec=70

[Install]
WantedBy=multi-user.target default.target
