[Unit]
Description=mosquitto

[Container]
Image=docker.io/eclipse-mosquitto

Volume=/var/lib/mosquitto/config:/mosquitto/config:Z
Volume=/var/lib/mosquitto/data:/mosquitto/data:Z
Volume=/var/lib/mosquitto/log:/mosquitto/log:Z
AutoUpdate=registry
Timezone=local
PublishPort=1883:1883

[Service]
Restart=on-failure
RestartSec=30
TimeoutStopSec=70

[Install]
WantedBy=multi-user.target default.target
